@import ../bower_components/bootstrap-sass/assets/stylesheets/bootstrap
@import ../bower_components/font-awesome/scss/font-awesome
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700')

$black: #000
$smallblack: #333
$white: #fff
$blue: #0066cc
$grey: #f2f2f2

section
	min-height: 100vh
	display: flex
	align-items: center
/*navegacao*/
.navbar-brand
	padding: 0px
	margin-top: 0px
.navbar
	background-color: $black
	height: 102px
.nav
	li
		height: 100px
		a
			color: $white
			font-family: 'Open Sans', sans-serif
/*carousel*/			
.item
	img
		width: 100%	
		height: 100%						
.carousel-caption		
	border-radius: 15px		
	background-color: rgba(0,0,0, 0.6)	
	p
		font-size: 1.5em 
	h3 
		font-size: 2em	
/*main*/
.contPrincipal
	background-color: $grey	
	background-image: linear-gradient(to top, transparent, rgba(0,90,210,0.4))
.empresa
	color: $smallblack
	text-align: justify
	padding: 10px 45px 45px 45px
	font-family: 'Open Sans', sans-serif
	h1
		padding-bottom: 25px
		text-align: center	
	p 
		font-size: 1.3em
		padding: 0px 30px
	i 
		padding-bottom: 25px	
/*servico*/
.servicos
	background-color: $black	
	background: url("../img/saopaulo_servicos.jpg") center center no-repeat fixed
	background-size: cover 
	.container
		text-align: center
		padding: 10px 30px 70px 30px		
		color: $white
		h2
			font-family: 'Open Sans', sans-serif
			font-size: 3em
			padding-bottom: 20px			
.info
	padding: 30px
	background-color: rgba(0, 0, 0, 0.5)
	border-radius: 15px
	font-family: 'Open Sans', sans-serif
	margin: 10px
	border: 2px $white solid
	transition: 1s
	&:hover
		background-color: rgba(0, 0, 50, 0.8)
		border: 2px $blue solid

	h3
		font-size: 1.6em
		padding: 15px
	p 
		text-align: justify
		text-indent: 15px
		font-size: 1.3em
		padding 0px 10px	
	i 
		color: $white	
/*contato*/			
.contato
	text-align: center
/*rodape*/
footer
	background-color: $black
	text-align: center
	height: 80px
	padding: 15px
	p
		color: $grey 
	.container
		margin-bottom: 0px		

/*mobile*/	
@media screen and (max-width: 480px)
	.navbar-inverse .navbar-nav
		li 
			a 
				color: white
	.nav	
		margin-top: 0px	
		li
			background-color: $blue 
			height: 52px			
			a 
				color: $white
				padding: 15px
				border-bottom: 1px $white solid
/*tablet*/
@media screen and (min-width: 481px)
	.nav 
		li:hover
			border-top: 5px $blue solid
		li 
			a
				font-size: 1.2em


@media screen and (max-width: 980px)
	.navbar
		height: 52px
	.slide
		margin-top: 50px
	.empresa
		p 
			font-size: 1.1em	
	.servicos
		.container
			padding: 15px
	.infoControl 
		display: flex
		justify-content: space-around
		flex-wrap: wrap	
	.info
		p 
			font-size: 1.1em
		h3 
			font-size: 1.4em

	.carousel-caption
		p
			font-size: 1.2em 
		h3 
			font-size: 1.6em
	.empresa,		
	.servicos .container,
	.contato
		padding: 40px 15px					
/*Computer*/
@media screen and (min-width: 981px)	
	.nav	
		li 
			a 
				padding: 40px 20px		
	.slide
		margin-top: 100px
	.empresa,		
	.servicos .container,
	.contato
		padding: 90px 15px
	//.info
	//	margin: 10px
	//	border: 2px $white solid		
	.infoControl 
		display: flex
		justify-content: space-around
